<div class="container d-flex align-items-center">
  <button class="btn btn-danger" id="logout-btn">Logout</button>
  <p class="ms-2"><b>Logged In as : </b><span id="current-user"></span></p>
</div>
<script>
  const logoutButton = document.getElementById("logout-btn");
  logoutButton.addEventListener("click", async () => {
    localStorage.clear();

    // TODO : Add Delete Refresh Token API

    location.href = "/login";
    return;
  });

  const currentUserText = document.getElementById("current-user");

  getAuthUserInfo().then((userInfo) => {
    currentUserText.textContent = userInfo.username;
  });
</script>
