<!-- PARTIALS START -->
      <!-- Navbar Start -->
      <nav class="navbar fixed w-full bg-gradient-to-r from-[#003366] to-[#0066CC]" id="myNavbar">
        <button class="sidebar-btn" onclick="toggleSidebar()"><i class="fas fa-bars"></i></button>
        <div class="navbar-title-img flex justify-center items-center">
            <img src="/file/_partials/images/logouph.svg" alt="UPH Logo" class="logo-nav">
            <div class="header text-white text-xl pb-2 pl-3 whitespace-nowrap overflow text-ellipsis" style="font-family: Inter, sans-serif">Survey Hub</div>
        </div>
            <button class="profile-icon flex items-center" onclick="showLogoutPopup()">
                <i class="fas fa-sign-out"></i>
                <a href="javascript:void(0);" class="icon" onclick="hideLogoutPopup()"></a>
            </button>
            </a>
        </a>
    </nav>
    <!-- Navbar End -->

<!-- Logout Popup Start -->
<div class="popup-overlay" id="popupOverlay" onclick="hideLogoutPopup()"></div>
    <div class="logout-popup" id="logoutPopup">
        <p>Are you sure you want to logout?</p>
        <button class="popup-button cancel" onclick="hideLogoutPopup()">Cancel</button>
        
        <!-- Logout Button Start-->
        <button id="logout-btn" class="popup-button logout">Logout</button>
        <!-- Logout Button End-->
    </div>
</div>
<!-- Logout Popup Start -->

<!-- Sidebar Start -->
<aside id="sidebar" class="sidebar bg-[#034E98] pt-16 fixed sidebar-hidden">
        <div class="container mx-auto mt-4 justify-left items-left">
            <img src="/file/_partials/images/logouph.png" alt="UPH Logo" class="h-20 pl-4 pr-4 mt-30">
            <div class="text-white text-xl font-bold pl-6 pb-2" style="font-family: Inria Sans, sans-serif">Survey Hub</div>
        </div>
        

        <!-- MENU Start -->
        <div id="nav-menu-list" class="sidebar-menu flex flex-col pt-2">
            <a id="nav-home-btn" href="/authorization">
				<div class="text-[#FFFFFF] py-6 px-4 flex flex-wrap">
                    <img src="/file/_partials/images/home-white.png" alt="Home-Button" class="pl-2 pr-3 h-5">
                    <div class="block font-bold">Home</div>
                </div>
            </a>
        </div>
         <!-- MENU End-->

        <!-- MENU FOR HOME PAGE Start -->
         <!--
        <div id="nav-menu-list" class="sidebar-menu flex flex-col pt-2">
            <a id="nav-home-btn" href="/authorization">
                <div class="border-t border-b border-[#003366] bg-[#E5EDF4] text-[#003366] py-6 px-4 flex flex-wrap">
                    <img src="/file/_partials/images/home-blue.png" alt="Home-Button" class="pl-2 pr-3 h-5">
                    <div class="block font-bold">Home</div>
                </div>
            </a>
            -->
            <!-- This is only visible to SUPER ADMIN -->
             <!--
            <a id="nav-events-btn" href="ea-events.html">
                <div class="text-[#FFFFFF] py-6 px-4 flex flex-wrap">
                    <img src="/file/_partials/images/events-white.png" alt="Events-Button" class="pl-2 pr-4 h-5">
                    <div class="block font-bold">Events</div>
                </div>
            </a>
            -->
            <!--
        </div>
        -->
        <!-- MENU FOR HOME PAGE End -->
        
        <!-- MENU FOR EVENTS PAGE Start -->
         <!--
        <div id="nav-menu-list" class="sidebar-menu flex flex-col pt-2">
            <a id="nav-home-btn" href="/authorization">
				<div class="text-[#FFFFFF] py-6 px-4 flex flex-wrap">
                    <img src="/file/_partials/images/home-white.png" alt="Home-Button" class="pl-2 pr-3 h-5">
                    <div class="block font-bold">Home</div>
                </div>
            </a>
            <a id="nav-events-btn" href="">
				<div class="border-t border-b border-[#003366] bg-[#E5EDF4] text-[#003366] py-6 px-4 flex flex-wrap">
                    <img src="/file/_partials/images/events-blue.png" alt="Events-Button" class="pl-2 pr-4 h-5">
                    <div class="block font-bold">Events</div>
                </div>
            </a>
        </div>
        -->
        <!-- MENU FOR EVENTS PAGE End -->
        <div class="sidebar-menu flex flex-col pt-2 mt-auto">
            <a href="javascript:void(0);" onclick="showLogoutPopup()" class="block">
                <div class="text-[#FFFFFF] py-6 px-4 flex flex-wrap">
                    <img src="/file/_partials/images/logout-white.png" alt="Events-Button" class="pl-3 pr-4 h-5">
                    <div id="logout-btn" class="block font-bold">Logout</div>
                </div>
            </a>
        </div>
    </aside>
<!-- Sidebar End -->

<!-- Nav Scripts Start -->
 <script>
    function showLogoutPopup() {
            document.getElementById('logoutPopup').style.display = 'block';
            document.getElementById('popupOverlay').style.display = 'block';
        }

        function hideLogoutPopup() {
            document.getElementById('logoutPopup').style.display = 'none';
            document.getElementById('popupOverlay').style.display = 'none';
        }

        // Old
        /*
        function toggleSidebar() {
            let sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('active');
            if (sidebar.classList.contains('active')) {
                sidebar.style.left = '0';
            } else {
                sidebar.style.left = '-100%';
            }
        }
        */

        // TOGGLE SIDEBAR
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            const mainContent = document.getElementById('main-content');
            if (sidebar.classList.contains('sidebar-shown')) {
                sidebar.classList.remove('sidebar-shown');
                sidebar.classList.add('sidebar-hidden');
                mainContent.classList.remove('main-content-expanded');
            } else {
                sidebar.classList.remove('sidebar-hidden');
                sidebar.classList.add('sidebar-shown');
                mainContent.classList.add('main-content-expanded');
            }
        }

        

        // LOGOUT BUTTON
        const logoutButton = document.getElementById('logout-btn');
        logoutButton.addEventListener('click', async (e) => {
            e.preventDefault();

            const refreshToken = localStorage.getItem('refreshToken');
            const accessToken = localStorage.getItem('accessToken');

            const body = JSON.stringify({ refreshToken: refreshToken });

            localStorage.clear();

            const targetEndpoint = "/auth/logout";
            const result = await fetch(targetEndpoint, {
                method: 'POST',
                headers: {
                    'Authorization' : `Bearer ${accessToken}`,
                    'Content-type': 'application/json',
                },
                body: body
            })

            const data = await result.json();

            if(!result.ok){
                alert(data.message);
                throw new Error(data.error);
            }

            console.log(data);

            location.href = "/login";
            return;
        })

        

        document.addEventListener('DOMContentLoaded', async () => {
            
            const accessToken = localStorage.getItem('accessToken');

            const userInfo = await getAuthUserInfo();
            const userRole = userInfo.role;

            const [department_id, event_id, access_level] = userRole.split('/');

            // SUPER ADMIN Only
            if(department_id === "admin" && event_id === "admin" && access_level === "admin"){
                
                // See the 'Events Nav Option'
                const navMenuList = document.getElementById('nav-menu-list');
                const navEventsButton = document.createElement('a');
                navEventsButton.id = "nav-events-btn";
                navEventsButton.href = "/admin/events/view";
                navEventsButton.innerHTML = `
                    <div class="text-[#FFFFFF] py-6 px-4 flex flex-wrap">
                        <img src="/file/_partials/images/events-white.png" alt="Events-Button" class="pl-2 pr-4 h-5">
                        <div class="block font-bold">Events</div>
                    </div>
                `;
                navMenuList.appendChild(navEventsButton);

                
            }

            // Determine Nav Option State
            const activeNavOption = localStorage.getItem('nav-option-active');
            if(activeNavOption === "home"){
                const navHomeButton = document.getElementById('nav-home-btn');
                navHomeButton.innerHTML = `
                <div class="border-t border-b border-[#003366] bg-[#E5EDF4] text-[#003366] py-6 px-4 flex flex-wrap">
                    <img src="/file/_partials/images/home-blue.png" alt="Home-Button" class="pl-2 pr-3 h-5">
                    <div class="block font-bold">Home</div>
                </div>
                `;
            }

            if(activeNavOption === "events"){
                const navEventsButton = document.getElementById('nav-events-btn');
                navEventsButton.innerHTML = `
                    <div class="border-t border-b border-[#003366] bg-[#E5EDF4] text-[#003366] py-6 px-4 flex flex-wrap">
                        <img src="/file/_partials/images/events-blue.png" alt="Events-Button" class="pl-2 pr-4 h-5">
                        <div class="block font-bold">Events</div>
                    </div>
                `;
                
            }
            
        })
 </script>
 <!-- Nav Scripts End -->

 <!-- PARTIALS END -->